@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css");

@import "styles.css";
@import "header.css";
@import "home.css";
@import "menu.css";
@import "contato.css";
@import "footer.css";



